@model List<SocialNet.Models.CommunityPost>

@{
    ViewBag.Title = "CommunityPosts";
}
<style>
    .post {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
    }
</style>

@foreach (var post in Model)
{
<div class="post">
    <h3>@post.Title</h3>
    <p>@post.Content</p>
</div>
}
